{% extends "base.html" %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/add.css' %}">
<!--title-->

<style>
    body {
        background-color: aliceblue;
        color: black;
    }
    .section-title{
            margin-top: 100px
    }
</style>

<div class="section-title">
    <h4 class="text-uppercase" style="letter-spacing: 5px;">Deshboard/ Add Post</h4>
</div>

<!--forom-->
<div class="container mb-4">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %} {% for f in form %}
        <div class="mb-1">
            {{f.label_tag}}{{f}}
        </div>
        {% endfor %}
        <input type="submit" class="btn btn-success mt-1" value="ADD">
        <a href="{% url 'dashboard' %}" class="btn btn-danger mt-1">Cancel</a>
    </form>
</div>

{% endblock %}